<div class="navbar">
  <ul>
    <li>
      <p routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</p>
    </li>
    <li>
      <p routerLink="/dashboard/duty" routerLinkActive="active">Schichten</p>
    </li>
    <li>
      <p routerLink="/dashboard/arrests" routerLinkActive="active">Inhaftierungen</p>
    </li>
    <li>
      <p routerLink="/dashboard/yard" routerLinkActive="active">Hofgang</p>
    </li>
    <li *ngIf="user.specialPermissions.personalabteilung">
      <p routerLink="/dashboard/personalabteilung" routerLinkActive="active">Personalabteilung</p>
    </li>
    <li *ngIf="user.specialPermissions.ausbilder">
      <p>Ausbilder</p>
    </li>
    <li *ngIf="user.specialPermissions.leitung">
      <p>Leitung</p>
    </li>

    <li id="logout">
      <p (click)="reload()" id="reload">
        <i class="fa-solid fa-arrow-rotate-right"></i>
      </p>
      <p id="profile" routerLink="/dashboard/profile" routerLinkActive="active">Profil</p>

      <p (click)="logout()">
        <i class="fa-solid fa-lock"></i> Logout
      </p>
    </li>
  </ul>

</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
